---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=3&key=<WEATHER_API_KEY>&q=90210
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - ID
      X-Weatherapi-Qpm-Left:
      - '4999939'
      Cdn-Proxyver:
      - '1.28'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/13/2025 00:51:45
      Cdn-Edgestorageid:
      - '1174'
      Cdn-Requestid:
      - 7d23c84fb818ca4744a993423a4a63bc
      Cdn-Cache:
      - HIT
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Beverly Hills","region":"California","country":"USA","lat":34.0900993347168,"lon":-118.406997680664,"tz_id":"America/Los_Angeles","localtime_epoch":1749775917,"localtime":"2025-06-12
        17:51"},"current":{"last_updated_epoch":1749775500,"last_updated":"2025-06-12
        17:45","temp_c":19.4,"temp_f":66.9,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":8.1,"wind_kph":13.0,"wind_degree":214,"wind_dir":"SW","pressure_mb":1011.0,"pressure_in":29.86,"precip_mm":0.0,"precip_in":0.0,"humidity":73,"cloud":75,"feelslike_c":19.4,"feelslike_f":66.9,"windchill_c":22.8,"windchill_f":73.0,"heatindex_c":24.8,"heatindex_f":76.7,"dewpoint_c":15.4,"dewpoint_f":59.7,"vis_km":16.0,"vis_miles":9.0,"uv":2.8,"gust_mph":9.3,"gust_kph":14.9},"forecast":{"forecastday":[{"date":"2025-06-12","date_epoch":1749686400,"day":{"maxtemp_c":23.4,"maxtemp_f":74.1,"mintemp_c":16.0,"mintemp_f":60.8,"avgtemp_c":19.3,"avgtemp_f":66.7,"maxwind_mph":9.4,"maxwind_kph":15.1,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":76,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":2.8},"astro":{"sunrise":"05:42
        AM","sunset":"08:06 PM","moonrise":"09:52 PM","moonset":"06:30 AM","moon_phase":"Waning
        Gibbous","moon_illumination":99,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1749711600,"time":"2025-06-12
        00:00","temp_c":17.1,"temp_f":62.7,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":4.5,"wind_kph":7.2,"wind_degree":160,"wind_dir":"SSE","pressure_mb":1011.0,"pressure_in":29.87,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":86,"cloud":43,"feelslike_c":17.1,"feelslike_f":62.7,"windchill_c":17.1,"windchill_f":62.7,"heatindex_c":17.1,"heatindex_f":62.8,"dewpoint_c":14.5,"dewpoint_f":58.0,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":7.2,"gust_kph":11.7,"uv":0},{"time_epoch":1749715200,"time":"2025-06-12
        01:00","temp_c":16.6,"temp_f":61.9,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":4.0,"wind_kph":6.5,"wind_degree":172,"wind_dir":"S","pressure_mb":1011.0,"pressure_in":29.86,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":88,"cloud":51,"feelslike_c":16.6,"feelslike_f":61.9,"w[...]
